<form method="post" action="/musics/logins">
  <div>
    <label>User Name:</label>
    <input type="text" name="username" value="<%= @users && @users.username%>">
  <div>
    <label>Passwords:</label>
    <input type="text" name="password" value="<%= @users && @users.password %>">
  </div>
  <div>
    <input type="submit" value="Submit">
  </div>
</form>
